@import "../../../Style/Variables.scss";
@import "../../../Style/Mixins.scss";

.whoWeAre {
  background-color: $bgColor;
  @include sectionPM;
}
.whoWeAreTitle {
  color: #fff;
  font-size: 30px;
  font-family: $interFont;
}
.whoWeAreDesc {
  font-family: $poppinsFont;
  font-size: 17px;
  color: $pColor;
  padding-bottom: 15px;
}

.whoWeAreBtn {
  background-color: $mainColor;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 15px 20px;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    transition: $clastrans;
    z-index: 0;
  }

  &:hover {
    &:before {
      transform: translateX(0);
    }
    .moreIcon {
      color: $mainColor;
    }
    .moreText {
      color: $mainColor;
    }
  }
}
.moreIcon {
  transition: $clastrans;
  font-size: 25px;
  font-weight: 600;
  margin-right: 10px;
  color: #fff;
}
.moreText {
  font-size: 18px;
  transition: $clastrans;
  color: #fff;
  font-family: $interFont;
}
.moreBtn {
  position: relative;
  z-index: 1;
}
