@import "../../../Style/Variables.scss";
@import "../../../Style/Mixins.scss";

.topList {
  padding: 70px 0;
  background: url("../../../Assets/Featured/bg.png");
  background-size: cover;
  background-position: center;
  position: relative;
}

.popularItem {
  background-color: $softBlue;
  padding: 25px;
  border-radius: 10px;
  position: relative;
  z-index: 1;

  .coinImage {
    width: 70px;
    height: 70px;
  }
  .coinName {
    font-family: $interFont;
    font-size: 20px;
    color: #677786;
    font-weight: 600;
    display: inline-block;
    margin: 10px 0;
  }
  .coinPrice {
    font-family: $interFont;
    font-size: 20px;
    color: #fff;
    font-weight: 600;
    display: inline-block;
  }
}
.chart {
  height: 55px;
  width: 100%;
  overflow: hidden;
  margin: 10px 0;
}
.coinTimeType {
  font-size: 17px;
  font-family: $interFont;
  color: #fff;
  margin-bottom: 20px;
  font-weight: 600;
}

.marketCapChange {
  font-size: 17px;
  font-family: $interFont;
  font-weight: 600;
  margin-left: 10px;
}
.riseUp {
  color: #9AE66E;
}
.riseDown {
  color: #FF3F00;
}
.tablePrice {
  font-size: 15px;
  font-family: $interFont;
}
.priceUp {
  color: #9AE66E;
}
.priceDown {
  color: #FF3F00;
}
.tableVolume {
  font-size: 15px;
  font-family: $interFont;
  color: #fff;
}

.tableImgWrapper {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
  text-align: center;
}
.tableImage {
  width: 100%;
  height: 100%;
}
.tableCoinId {
  min-width: 60px;
  color: #fff;
  font-family: $interFont;
  font-weight: 600;
}
.tableCoinCurrency {
  font-size: 15px;
  font-family: $interFont;
  color: #fff;
}
.tradeBtn {
  color: $mainColor;
  font-size: 15px;
  font-family: $interFont;
  font-weight: 600;
  transition: $clastrans;
  padding: 7px 15px;
  border-radius: 5px;
  border: 2px solid $mainColor;
  &:hover {
    background-color: $mainColor;
    color: #fff;
  }
}

.firstRow {
  background-color: $softBlue;
  border: none !important;

  &:hover {
    td {
      background-color: #233b83 !important;
    }
  }
  td {
    border: none !important;
  }
}
.secondRow {
  background-color: #192e6e;

  &:hover {
    td {
      background-color: #112f8a !important;
    }
  }
  td {
    border: none !important;
  }
}

.tableWrapper {
  margin: 30px 0;
  padding: 20px 0;
}

.topListTitle {
  @include sectionTitle;
}

.viewAll {
  display: inline-block;
  font-size: 20px;
  font-family: $interFont;
  font-weight: bold;
  color: #fff;
  margin: 10px 0;
  &:hover {
    color: $mainColor !important;
  }
}
.viewAllIcon {
  font-size: 23px;
  margin: 0 5px;
}
.circleEffect {
  position: absolute;
  left: 100px;
  top: 100px;
  z-index: 0;
  animation: transition_image 3s infinite linear;
}

@keyframes transition_image {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-30px);
  }
  100% {
    transform: translateY(0);
  }
}
.promotionItem {
  margin: 10px;
  display: block;
  &:hover {
    .promotionImg {
      transform: scale(1.05);
    }
  }
}
.promotionItemImgWrapper {
  overflow: hidden;

  .promotionImg {
    transition: $clastrans;
    width: 100%;
    height: 140px;
    object-fit: cover contain;
    border-radius: 10px;
  }
}
