@import "../../../Style/Variables.scss";
@import "../../../Style/Mixins.scss";

.banner {
  width: 100%;
  overflow-x: hidden;
  padding: 100px 0 70px 0;
  position: relative;
}
.bannerBgArea {
  position: absolute;
  left: 0;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: -1;
  .bannerBgInner {
    width: 100%;
    height: 100%;
    position: relative;
    .bannerBgOverlay {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
      top: 0;
      z-index: 0;
      background-color: rgba(3, 3, 65, 0.7);
    }
  }
  .bannerBg {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}
.bannerContent {
  width: 100%;
  height: 100%;
  position: relative;
}
.bannerInner {
  @include flexcolastart;
  width: 100%;
  position: relative;
  .bannerSloganArea {
    background-color: $softBlue;
    padding: 8px 10px;
    border-radius: 25px;

    .bannerSlogan {
      @include flexrowjstart;
      margin: 0;

      .bannerSloganIcon {
        width: 30px;
        background-color: $mainColor;
        border-radius: 50%;
        padding: 3px;
        @include flexrowcenter;
        height: 30px;
        margin-right: 10px;
        .bannerLeftIcon {
          color: #fff;
          font-size: 20px;
        }
      }
      .bannerSloganText {
        color: #fff;
        font-size: 16px;
      }
    }
  }
}
.bannerTitle {
  font-size: 60px;
  color: #fff;
  font-family: $interFont;
  font-weight: 600;
  margin: 20px 0;

  .strongTextBanner {
    color: $mainColor !important;
  }
}
.bannerDescription {
  font-size: 17px;
  color: $pColor;
  margin-bottom: 20px;
  font-family: $mainFont;
}

.bannerHowBtn {
  background-color: $mainColor;
  border-radius: 10px;
  outline: none;
  border: none;
  padding: 15px 20px;
  position: relative;
  overflow: hidden;

  &:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #fff;
    transform: translateX(-100%);
    transition: $clastrans;
    z-index: 0;
  }

  &:hover {
    &:before {
      transform: translateX(0);
    }
    .bannerButtonIcon {
      color: $mainColor;
    }
    .bannerButtonText {
      color: $mainColor;
    }
  }
}
.howBtnInner {
  position: relative;
  z-index: 1;
}
.bannerButtonIcon {
  transition: $clastrans;
  font-size: 25px;
  font-weight: 600;
  margin-right: 10px;
  color: #fff;
}
.bannerButtonText {
  font-size: 18px;
  transition: $clastrans;
  color: #fff;
  font-family: $interFont;
}

.bannerImage {
  width: 100%;
  position: relative;
  overflow: hidden;
  padding: 40px 0;
}
.bannerMainImage {
  position: relative;
  z-index: 0;
  width: 100%;
  height: 100%;

  .firstImage {
    width: 90%;
    height: 90%;
    animation: rotate_image_second 20s infinite linear;
  }
}
.bannerImageSecond {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  bottom: 0;
  @include flexrowcenter;
}
.bannerImageThird {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 3;
  bottom: 0;
  @include flexrowcenter;

  .thirdImage {
    width: 75%;
    height: auto;
    animation: rotate_image 20s infinite linear;
  }
}

@keyframes rotate_image {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes rotate_image_second {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(-360deg);
  }
}

.bannerImageFourth {
  position: absolute;
  right: 0;
  z-index: 5;
  top: 0;
  animation: transition_image 3s infinite linear;
}

.bannerImageFifth {
  position: absolute;
  bottom: 50px;
  right: 120px;
  z-index: 5;
}
.bannerImageSixth {
  position: absolute;
  top: 50px;
  left: 100px;
  z-index: 5;
}
@keyframes transition_image {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
  100% {
    transform: translateY(0);
  }
}
.soldTotalImage {
  width: 100%;
  height: auto;
}

.countdown {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: $softBlue;
  padding: 20px;
  z-index: 5;
  border-radius: 10px;

  .countdownTitle {
    color: #fff;
    font-family: $interFont;
    font-size: 17px;
  }
  .countdownBox {
    @include flexcolcenter;

    .countdownNumber {
      width: 50px;
      padding: 10px 0;
      margin: 4px;
      color: #fff;
      font-family: $interFont;
      border-radius: 5px;
      font-size: 17px;
    }
    .days {
      background-color: $mainColor;
    }
    .hours {
      background-color: #47dba7;
    }
    .mins {
      background-color: #ffc107;
    }
    .sec {
      background-color: #e230cc;
    }
    .countdownText {
      color: #fff;
      font-family: $interFont;
      display: inline-block; 
      text-transform: uppercase;
      margin-top: 5px;
      font-size: 15px;
    }
  }
}

@media screen and (max-width: 1399.99px) {
  .thirdImage {
    display: none !important;
  }
}
@media screen and (max-width: 1199.99px) {
  .thirdImage {
    display: none !important;
  }
}
@media screen and (max-width: 767.99px) {
  .bannerMainImage {
    z-index: -2;
  }
  .bannerImageSixth {
    left: 0 !important;
  }
  .bannerImageFifth {
    right: 0 !important;
  }
  .soldTotalImage {
    width: 200px;
  }
}
@media screen and (max-width: 379.99px) {
  .bannerImageFifth {
    display: none !important;
  }
  .countdown {
    .countdownTitle {
      font-size: 15px !important;
    }
    .countdownNumber {
      width: 40px !important;
      padding: 5px 0 !important;
    }
    .countdownNumber {
      font-size: 15px !important;
    }
  }
}
