@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
.product {
  padding: 100px 0;
  height: 100%;
  background: url("../../../Assets/Featured/bg.png") no-repeat;
  background-size: cover;
  background-position: center;
}

.tableWrapper {
  background-color: #37a3fe;
  padding: 5px 0;
  width: 100%;
}

.tableWrapper .tableInner {
  width: 100%;
  height: 100%;
}

.tableWrapper .tableInner .tableTop {
  border-bottom: 2px solid #06206D;
  padding: 5px;
}

.tableWrapper .tableInner .tableTop .inputWrapper {
  position: relative;
  width: 100%;
}

.tableWrapper .tableInner .tableTop .inputWrapper .searchInput {
  width: 100%;
  border-radius: 5px;
  border: 2px solid #efefef;
  padding: 4px 25px;
  outline: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-family: "Inter", sans-serif;
  color: #000;
}

.tableWrapper .tableInner .tableTop .inputWrapper .searchInput:focus {
  border: 2px solid #06206D;
}

.tableWrapper .tableInner .tableTop .inputWrapper .searchIcon {
  position: absolute;
  left: 5px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  font-size: 20px;
  color: #37a3fe;
}

.tableImgWrapper {
  width: 20px;
  min-width: 20px;
  height: 20px;
  margin-right: 5px;
  border-radius: 50%;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.tableImgWrapper .tableImage {
  width: 100%;
  height: 100%;
}

.tableName {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  font-weight: 600;
  color: #fff;
  text-transform: uppercase;
}

.tableNameLong {
  font-size: 9px;
  color: #999;
  font-weight: 600;
  text-transform: uppercase;
  font-family: "Inter", sans-serif;
  overflow-x: hidden;
  max-width: 70px;
}

.tablePrice {
  font-family: "Inter", sans-serif;
  font-size: 12px;
  color: #a2bbd2;
  font-weight: 600;
  margin-left: 5px;
}

.tableChange {
  font-size: 11px;
  font-family: "Inter", sans-serif;
}

.priceUp {
  color: #9AE66E;
}

.priceDown {
  color: #FF3F00;
}

.tableVolume {
  font-size: 10px;
  font-family: "Inter", sans-serif;
  color: #b9b9b9;
  font-weight: 600;
}

.tableStar {
  font-size: 14px !important;
}

.tableProduct th {
  font-size: 12px !important;
}

.firstRow {
  background-color: #06206D;
  border: none !important;
}

.firstRow td {
  padding: 5px !important;
}

.firstRow:hover td {
  background-color: #233b83 !important;
}

.firstRow td {
  border: none !important;
}

.secondRow {
  background-color: #192e6e;
}

.secondRow td {
  padding: 5px !important;
}

.secondRow:hover td {
  background-color: #112f8a !important;
}

.secondRow td {
  border: none !important;
}

.dNone {
  display: none !important;
}

.productDetail {
  width: 100%;
  height: 100%;
}

.productDetail .productDetailTop {
  background-color: #06206D;
  padding: 10px;
}

.productDetail .productDetailTop .productNameInfo {
  margin-right: 15px;
}

.productDetail .productDetailTop .productNameInfo .productImageWrapper {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  margin-right: 10px;
}

.productDetail .productDetailTop .productNameInfo .productImageWrapper .productImage {
  width: 100%;
  height: 100%;
}

.productDetail .productDetailTop .productNameInfo .productNameWrapper {
  padding: 0 3px;
}

.productDetail .productDetailTop .productNameInfo .productNameWrapper .productName {
  font-size: 23px;
  font-family: "Inter", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: 550;
}

.productDetail .productDetailTop .productNameInfo .productNameWrapper .productName:nth-child(1):hover {
  color: #37a3fe !important;
}

.productDetail .productDetailTop .productNameInfo .productNameWrapper .productName:nth-child(2) {
  margin-right: 10px;
}

.productDetail .productDetailTop .productNameInfo .productNameWrapper .productIcon {
  font-size: 18px;
  color: #fff;
  margin-right: 5px;
}

.productDetail .productDetailTop .productNameInfo .productNameWrapper .productNameLong {
  color: #fff;
  text-decoration: underline;
  font-family: "Inter", sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.productDetail .productDetailTop .productNameInfo .productNameWrapper .productNameLong:hover {
  color: #37a3fe !important;
}

.productPriceInfo {
  margin: 0 30px;
}

.productPriceInfo .productCurrencyIcon {
  font-size: 18px;
  color: #a2bbd2;
  margin-right: 5px;
}

.productPriceInfo .productPriceValue {
  font-family: "Inter", sans-serif;
  font-size: 23px;
}

.productPriceChange {
  font-size: 20px;
  font-family: "Inter", sans-serif;
  margin: 0 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.productVolumeInfo {
  width: 100%;
}

.productVolumeInfo .productVolumeTitle {
  font-size: 15px;
  color: #a2bbd2;
  font-family: "Inter", sans-serif;
}

.productVolumeInfo .productVolumeValue {
  font-size: 15px;
  color: #fff;
  font-family: "Inter", sans-serif;
}
/*# sourceMappingURL=Product.module.css.map */