@import "./Variables.scss";
body {
  font-family: $mainFont;
  position: relative;
}
thead[class="ant-table-thead"] th {
  background-color: #192e6e !important;
  color: #fff;
  font-family: $interFont;
  font-size: 17px;
  border: none !important;
}

td.ant-table-column-sort {
  background-color: transparent !important;
}
.ant-table-tbody > tr.ant-table-row:hover > td,
.ant-table-tbody > tr > td.ant-table-cell-row-hover {
  background: none;
}
// FAQ COLLAPSE CSS

.ant-collapse-item {
  border-bottom: 2px solid $mainColor !important;
}
.ant-collapse-header {
  font-size: 23px;
  color: #fff !important;
  font-weight: 600 !important;
  font-family: $interFont;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  font-size: 23px !important;
}
.ant-switch-checked {
  background-color: $green !important;
}
.ant-table-body{
    &::-webkit-scrollbar {
    background-color: $bgColor;
    width: 0.5em;
    height: 2em;
    z-index: 99;
    position: relative;
  }
  &::-webkit-scrollbar-thumb {
    background-color: $mainColor;
    border-radius: 10px;
    size: 1px;
  }
}
.ant-table-cell-scrollbar{
  box-shadow: none !important;
}
.ant-table-container table>thead>tr:first-child th {
  border-radius: 0 !important;

 
}

