@import "./Variables.scss";
body {
  font-family: $mainFont;
  position: relative;
}
thead[class*="ant-table-thead"] th {
  background-color: #192e6e !important;
  color: #fff;
  font-family: $interFont;
  font-size: 17px;
  border: none !important;
}
