@import "./Variables.scss";
body {
  font-family: $mainFont;
  position: relative;
}
thead[class*="ant-table-thead"] th {
  background-color: #192e6e !important;
  color: #fff;
  font-family: $interFont;
  font-size: 17px;
  border: none !important;
}

// FAQ COLLAPSE CSS

.ant-collapse-item {
  border-bottom: 2px solid $mainColor !important;
}
.ant-collapse-header {
  font-size: 23px;
  color: #fff !important;
  font-weight: 600 !important;
  font-family: $interFont;
}
.ant-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-arrow {
  font-size: 23px !important;
}
