@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
$mainColor: #37a3fe;
$mainFont: "Raleway", sans-serif;
$poppinsFont: "Poppins", sans-serif;
