@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
$mainColor: #37a3fe;
$softBlue: #06206D;
$pColor : #a2bbd2;
$mainFont: "Raleway", sans-serif;
$poppinsFont: "Poppins", sans-serif;
$interFont: "Inter", sans-serif;
$clastrans: all 0.3s ease-in-out;